button {
    all: unset;
    font-weight: 500;
    color: var(--text-highlight);
    padding: .125rem 2rem;
    border-radius: .5rem;

    cursor: pointer;


    &.btn-primary {
        color: white;
        background-color: rgb(218, 52, 52);

        &:hover, 
        &:focus {
            background-color: #f3541c;
        }
    }


&.btn-secondary {
    margin-left: auto;
    border: 1px solid var(--text-highlight);

    &:hover, 
    &:focus {
            color: #e43a12;
            outline: .25rem solid var(--surface-secondary);
        }
}
}