.terms-wrapper{
    margin-top: 3rem;
    display: flex;
    gap: .75rem;
    align-items: flex-start;  

    & strong {
        font-weight: 500;
        color: var(--text-highlight);
    }
 }

.checkbox-wrapper {
    position: relative;
    

    & [type="checkbox"] {
        all: unset;
        position: absolute;
        inset: 0;
       
        
    }
 
 
.checkbox-image {
    flex: 0 0 1.3rem;
    height: 1.3rem;
    
    background-image: url(/assets/icons/checkbox-default.svg);
}

&:hover, &:focus-within {
    .checkbox-image {
        background-image: url(/assets/icons/checkbox-insert.svg);
    }
}

&:has(:checked) .checkbox-image{
    background-image: url(/assets/icons/checkbox-checked.svg);
}
}